@page
@model NutriTic.App.Frontend.Pages.ContactarEModel
@{ <div class="content mt-5">
        <div class="card card-body">
            <h3>Empleado</h3> 
            <Select  class="form-control">
                <option value=""></option>
            </Select>
        </div>
        <div class="card card-body mt-3">
            <form action="" method="get">               
                <h3>Información del Empleado</h3>       
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input class="form-control" name="Correo" type="email" placeholder="Correo" required disabled>
                </div>
                <div class="form-group">
                    <label for="Telefono">Telefono</label>
                    <input class="form-control" name="Telefono" type="tel" placeholder="Telefono" required disabled>
                </div>
                   <div class="form-group">
                     <label for="Cargo">Cargo</label>  
                    <input class="form-control" name="Cargo" type="text" placeholder="Cargo" required disabled>
                </div>                   
            </form>
        </div>
    </div>
}
