@page
@model NutriTic.App.Frontend.Pages.LoginModel
@{
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="content-left">
                <img  src="/assets/nutricion2.png" alt="" style="width:100%">
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-right">
                <div class="card card-body">
                <form action="">
                <h3 class="m-3 text-center">Ingresar</h3>
                 <div class="form-group">
                 <label for="">Tipo de usuario</label>    
                 <select class="form-control" name="" id="">
                    <option value="1">Empleado</option>
                    <option value="2">Paciente</option>
                 </select>   
                </div>               
                 <div class="form-group">
                    <input class="form-control" type="text" placeholder="Número Documento" required>
                </div>               
                <div class="form-group">
                    <a href="/Registro/Registro">No tienes cuenta?</a>
                </div>

                <div class="form-group">                          
                    <button class="form-control btn btn-primary btn-block" type="submit" >Aceptar</button>           
                </div>               
            </form>
            </div>            
            </div>
        </div>
    </div>
</div>
