@page
@model NutriTic.App.Frontend.Pages.ListarPacienteEmpleadoModel
@{
    Layout="_LayoutEmpleadoAdmin";
}
<div class="card card-body mt-3">
    <h2 class="text-center">Empleados Asignados al Paciente</h2>
    <form action="">
         <div class="form-group col mt-4">
        <Label>Paciente</Label>
        <Select class="form-control" asp-for="PacienteEmpleado.IdPaciente"  asp-items="@(new SelectList(Model.Pacientes,"IdPaciente","NombreCompleto",false))"></Select>           
        </Select>        
        <button type="submit">buscar</button>        
    </div>
    </form>
   
    <div  class="form-group col mt-4">
        <table class="table table-bordered text-center">

        <thead>
            <tr>
                         
                <th scope="col">Nombre Empleado</th>
                <th scope="col">Cargo</th>             
                <th scope="col">Acciones</th>
           
            </tr>
        </thead>
        <tbody>
        @foreach (var e in Model.PacienteEmpleados)
        {
                <tr>
                    <td>@e.NombreEmpleado</td>                         
                    <td>@e.NombreCargo</td>                         
                    <td>
                        <a class="btn btn-outline-primary" asp-page="./ActualizarPacienteEmpleado" asp-route-id="@e.IdPacienteEmpleado">Editar</a>                      
                    </td>                
                </tr>
        }
        </tbody>       
    </table>
    </div>
    

    
</div>
