@page
@model NutriTic.App.Frontend.Pages.ActualizarEmpleadoModel
@using NutriTic.App.Dominio
@using System.Globalization
@{
    Layout="_LayoutEmpleadoAdmin";
}
<h2>Actualizacion de datos</h2>
<form method="post">
    <div class="row mt-5">
        <div class="form-group col">
            <label asp-for="Empleado.IdEmpleado"></label>
            <input class="form-control" asp-for="Empleado.IdEmpleado" readonly>
            <span asp-validation-for="Empleado.IdEmpleado" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Empleado.PrimerNombre"></label>
            <input class="form-control" asp-for="Empleado.PrimerNombre">
            <span asp-validation-for="Empleado.PrimerNombre" class="text-danger"></span>
        </div>
    </div>


    <div class="row">
        <div class="form-group col">
            <label asp-for="Empleado.SegundoNombre"></label>
            <input class="form-control" asp-for="Empleado.SegundoNombre">
            <span asp-validation-for="Empleado.SegundoNombre" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Empleado.PrimerApellido"></label>
            <input class="form-control" asp-for="Empleado.PrimerApellido" required>
            <span asp-validation-for="Empleado.PrimerApellido" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            <label asp-for="Empleado.SegundoApellido"></label>
            <input class="form-control" asp-for="Empleado.SegundoApellido" required>
            <span asp-validation-for="Empleado.SegundoApellido" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Empleado.Correo"></label>
            <input class="form-control" type="email" asp-for="Empleado.Correo">
            <span asp-validation-for="Empleado.Correo" ></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            <label asp-for="Empleado.Telefono"></label>
            <input class="form-control" type="tel" asp-for="Empleado.Telefono" required>
            <span asp-validation-for="Empleado.Telefono"></span>
        </div>
        <div class="form-group col">
            <Label asp-for="Empleado.IdCargoEmpleado"></Label>
           <Select asp-for="Empleado.IdCargoEmpleado" class="form-control" asp-items="@(new  SelectList(Model.CargoEmpleados,"IdCargoEmpleado","NombreCargo"))">               
           </Select>            
            <span asp-validation-for="Empleado.IdCargoEmpleado" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
     <a class="btn btn-secondary" asp-page="./ListaEmpleado">Volver</a>


</form>