@page
@model NutriTic.App.Frontend.Pages.ActualizarEmpleadoModel
@{
}
<h1>Actualizacion de datos</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Empleado.Id"></label>
        <input asp-for="Empleado.Id" class="form-control" readonly>        
    </div>
    <div class="form-group">
        <label asp-for="Empleado.PrimerNombre"></label>
        <input asp-for="Empleado.PrimerNombre" class="form-control">        
    </div>
    <div class="form-group">
        <label asp-for="Empleado.SegundoNombre"></label>
        <input asp-for="Empleado.SegundoNombre" class="form-control">        
    </div>
    <div class="form-group">
        <label asp-for="Empleado.PrimerApellido"></label>
        <input asp-for="Empleado.PrimerApellido" class="form-control">
        
    </div>
    <div class="form-group">
        <label asp-for="Empleado.SegundoApellido"></label>
        <input asp-for="Empleado.SegundoApellido" class="form-control">
     
    </div>
    <div class="form-group">
        <label asp-for="Empleado.Correo"></label>
        <input type="email" asp-for="Empleado.Correo" class="form-control">
        
    </div>
    <div class="form-group">
        <label asp-for="Empleado.Telefono"></label>
        <input type="tel" asp-for="Empleado.Telefono" class="form-control">
        
    </div>
    <div class="form-group">
        <label asp-for="Empleado.CargoEmpleado"></label>
        <select class="form-control" name="" id="">
        
        </select>
        
    </div>
 
   

    <button type="submit" class="btn btn-primary">Actualizar</button>


</form>