@page
@model NutriTic.App.Frontend.Pages.EmpleadoModel
@{
}
    <h1>Nuevo Empleado</h1>
    <form method="post">
        <div class="form-group">
            <input class="form-control" asp-for="Empleado.IdEmpleado" placeholder="Número Identificación" required  >
            <span asp-validation-for="Empleado.IdEmpleado" ></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Empleado.PrimerNombre" placeholder="Primer Nombre" required  >
            <span asp-validation-for="Empleado.PrimerNombre" ></span>
        </div>
        <div class="form-group">            
            <input class="form-control" asp-for="Empleado.SegundoNombre" placeholder="Segundo Nombre">
            <span asp-validation-for="Empleado.SegundoNombre" ></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Empleado.PrimerApellido" placeholder="Primer Apellido" required  >
            <span asp-validation-for="Empleado.PrimerApellido" ></span>
        </div>
        <div class="form-group">            
            <input class="form-control" asp-for="Empleado.SegundoApellido" placeholder="Segundo Apellido" required >
            <span asp-validation-for="Empleado.SegundoApellido" ></span>
        </div>
        <div class="form-group">            
            <input class="form-control" type="email" asp-for="Empleado.Correo" placeholder="correo" required >
            <span asp-validation-for="Empleado.Correo" ></span>
        </div>
        <div class="form-group">            
            <input class="form-control" type="tel" asp-for="Empleado.Telefono" placeholder="Telefono" required >
            <span asp-validation-for="Empleado.Telefono" ></span>
        </div>
        <div class="form-group">            
            <input class="form-control" type="text" asp-for="Empleado.IdCargoEmpleado" placeholder="Id cargo" required >
            <span asp-validation-for="Empleado.Telefono" ></span>
        </div>
        
       
        
        <button type="submit" class="btn btn-primary">Crear Empleado</button>
    </form>
