@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    

}
<div class="card card-body mt-5">
    <h2>Nutritic</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis saepe sed magni officia rem, neque libero aliquid, quas laboriosam debitis facere. Iste ipsum aperiam incidunt? Libero facilis natus officia sint.</p>
</div>

