@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    

}
<div class="card card-body mt-5">
    <h2>Nutritic</h2>
    <p>La nutrición tiene como principal función transformar y extraer los nutrientes necesarios de los alimentos que consumimos. A través de este proceso, el cuerpo genera la energía necesaria para mantener el organismo y desarrollar sus funciones.</p>
</div>

