@page
@model NutriTic.App.Frontend.Pages.MedidasModel
@{<div class="content mt-5">
        <div class="card card-body">
            <form action="">
                <h3>Ingrese sus medidas</h3>
                <div class="form-group">
                    <input class="form-control" name="peso" type="text" placeholder="Peso" required>
                </div>
                <div class="form-group">                   
                    <input class="form-control" name="fechaValoracion" type="datetimet" placeholder="Valoración" value="" hidden required>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-primary btn-block" type="submit">Aceptar</button>
                </div>
            </form>
        </div>
        <div class="card card-body mt-3">
             <div class="card card-body mt-3">
            <h3>Historial de medidas</h3>
            <table>
                <tr>
                    <th>Id Medida</th>
                    <th>Fecha Medida</th>
                    <th>Peso</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </table>
        </div>
        <div class="card card-body mt-3">
            <h3>Historial de valoraciones</h3>
            <table>
                <tr>
                    <th>Id Medida</th>
                    <th>Fecha valoración</th>
                    <th>valoración</th>
                    <th>Empleado</th>
                    <th>Cargo</th>                   
                </tr>
                
            </table>
        </div>
        </div>
       
        
    </div>
}
